body{
    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    font-family: 'Josefin Sans', 'sans-serif';
    font-weight: 400;
    margin: 0;
    min-height: 100vh;
    text-align: center;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.description-section{
    font-size: 14px;
    padding: 0vh 10vw 4vh;
}

.description-text{
    color: hsl(0, 36%, 70%);
    margin: 0;
}

.forms-section{
    padding: 0 9vw;
}

.title{
    font-weight: 600;
    letter-spacing: 7px;
    color: hsl(0, 6%, 24%);
    margin: 0;
}

.light-title{
    color: hsl(0, 36%, 70%);
    font-weight: 300;
}

.header-section{
    text-align: left;
    padding: 3vh 10vw;
}

.title-section{
    padding: 7vh 10vw 2vh;
}

.error-msg{
    color: hsl(0, 93%, 68%);
    display: block;
    text-align: left;
    font-size: 11px;
    padding-left: 20px;
}

.error-symbol{
    height: 18px;
    margin: auto 10px;
}

.flex-container{
    border: solid hsl(0, 36%, 70%);
    border-radius: 30px;
    border-width: 1px 0px 1px 1px;
    display: flex;
    margin: 0 0 5px;
    padding-left: 17px;
}


.woman-image{
    display: block;
    height: auto;
    width: 100vw;
}

.main-icon{
    width: 25vw;
}

#femail{
    background-color: transparent;
    border: 0;
    flex: 1;
    font-family: 'Josefin Sans', 'sans-serif';
    font-weight: 400;
    margin: 10px 0px;
}

#femail::placeholder{
    color: hsl(0, 36%, 70%);
    font-family: 'Josefin Sans', 'sans-serif';
    font-size: 14px;
    opacity: 0.6;
}

.hidden{
    visibility: hidden;
}

.red-border{
    border-width: 1px;
    border-color: hsl(0, 93%, 68%);
}

.send-form{
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border-radius: 30px;
    border: 0px;
    padding: 5.5px 20px;
}